name: Sync with Hugging Face Hub

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Sync with Hugging Face
      uses: not-lain/huggingface-sync-action/action.yml@main
      with:
        github_repo_id: not-lain/textify
        huggingface_repo_id: not-lain/textify
        repo_type: space
        space_sdk: gradio
        private: false
        hf_token: ${{ secrets.HF_TOKEN }}